{% extends 'PiwiSystemCoreBundle::system.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets output="css/compiled/error.css" combine=true filter="cssrewrite"
    '../src/Piwi/System/CoreBundle/Resources/private/less/error.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <img src="{{ asset('/bundles/piwisystemcore/img/oops.png') }}" class="img-responsive" alt="Error">
        </div>
        <div class="col-sm-8">
            <h1>Oops! Page not found</h1>
            <p>
                The page you requested was not found. You may have clicked an expired link or mistyped the address.
                Please correct the address and press enter or go back to the <a href="/">homepage</a>.
            </p>
        </div>
    </div>
{% endblock content %}