# Symfony files and directories
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bin
/build
/vendor/*
/web/bundles/*
/web/css/
/web/images/
/web/img/
/web/js/
/web/less/
/web/uploads/
/web/media/

# Windows
Thumbs.db

# Mac OSX
.DS_Store

# Other applications
.DS_Store
.idea
.vagrant
.buildpath
.cache
.project
.settings

