{% extends 'PiwiDstCoreBundle::base.html.twig' %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
