{% extends 'PiwiS2pEventBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.event.event.index.title'|trans }}{% endblock %}

{% block headline %}{{ 'piwi.s2p.event.event.index.headline'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">

    </div>
{% endblock %}
