body{

}

.event {
  text-align: center;
}

.event-poster {
  margin-bottom: 10px;
}

.event-label {
  p {
    line-height: 1em;
  }
  .label-date {

  }
  .label-title {
    font-size: 14px;
  }
}